<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input type="text" name="hellotext" id="hellomail">
    <button type="submit" id="send">SENDMAIL</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
    	$('#send').click( function (evt){
    		evt.preventDefault();
    		var emailtext = $('#hellomail').val();
    		console.log(emailtext);
    		$.ajax({
    			url : '/' ,
    			type : 'POST' ,
    			data :{
    				emailbody :  emailtext
    			},
    			success : function (result){
    				if(!result.error){
    					alert(result.sendmail);
    				}
    			}
    		})
    	});
    </script>

  </body>
</html>
